.gallery_main_wrapper {
    .gallery_hero_wrapper {
        img {
            width: 100%;
        }
    }
    .gallery_search_main_wrapper {
        background-image: url("../../assets/main_bg.png");
        padding-top: 30px;
        padding-bottom: 150px;
        padding-left: 5%;
        padding-right: 5%;
        h3 {
            color: #4f1c67;
            font-family: Lexend Exa;
            font-size: 36px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
        }
        .filters {
            display: flex;
            align-items: center;
            gap: 10px;
            label {
                color: #4f1c67;
                font-family: Poppins;
                font-size: 20px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                
            }

            select,
            input {
                border: 1px solid rgba(160, 152, 174, 1);
                outline: none;
                padding: 5px 15px;
                max-width: 150px;
                font-size: 18px;
                border-radius: 5px;
                margin-right: 30px;
            }
        }

        .gallery_images {
            width: 100%;
            display: flex;
            flex-direction: row;
            gap: 30px;
            img {
                width: 35%;
                margin-bottom: 30px;
                cursor: pointer;
            }
        }
        h4 {
            color: rgba(80, 29, 104, 0.6);
            font-family: Lexend Exa;
            font-size: 24px;
        }
    }
}
