.academics_main_wrapper {
    .academics_hero {
      width: 100%;
      img {
        width: 100% !important;
      }
    }
    .main_section {
      width: 100%;
      min-height: 50vh;
      margin-top: -5px;
      background-image: url("../../assets/academics/primary_bg.png");
      .tabs_wrapper {
        width: 100%;
        padding-top: 150px;
        border-bottom: 6px solid rgba(208, 94, 24, 0.76);
        box-shadow: 0px 4px 10px #888888;
        position: relative;
        .tabs {
          display: flex;
          gap: 10px;
          width: 90%;
          margin-left: 5%;
          position: absolute;
          top: 91px;
          span {
            color: #000;
            text-align: center;
            font-family: Architects Daughter;
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            cursor: pointer;
            line-height: normal;
            padding: 10px 40px;
            border: 6px solid transparent;
            position: relative;
          }
          .active {
            border: 6px solid rgba(208, 94, 24, 0.76);
            box-shadow: inset 0px 4px 10px #888888;
            border-bottom: 6px solid #a1238e;
          }
        }
        .left {
          justify-content: left;
        }
        .center {
          justify-content: center;
        }
        .right {
          justify-content: right;
        }
      }
      .pre_primary_wrapper {
        width: 90%;
        margin-left: 5%;
        position: relative;
        padding-bottom: 50px;
        .a_image {
          position: absolute;
          right: 0px;
        }
        .pre_primary_section_1 {
          display: flex;
          flex-direction: row;
          margin-top: 30px;
          .content {
            width: 60%;
            h3 {
              color: #4f1c67;
              font-family: Lexend Tera;
              font-size: 46px;
              font-style: normal;
              font-weight: 600;
              line-height: normal;
            }
            p {
              color: #000;
              font-family: Open Sans;
              font-size: 18px;
              font-style: normal;
              font-weight: 400;
              line-height: 34px;
            }
          }
          .img {
            width: 50%;
            position: relative;
            .pre_primary_1 {
              position: absolute;
              bottom: 0px;
            }
            .pre_primary_2 {
              width: 40%;
              margin-right: 100px;
            }
          }
        }
      }
      .primary_wrapper {
        width: 90%;
        margin-left: 5%;
        margin-bottom: -20px;
        padding-bottom: 10%;
        position: relative;
        .plus {
          position: absolute;
          right: 40%;
          top: 6%;
        }
        .minus {
          position: absolute;
          right: 30%;
          top: 8%;
        }
        .abacus {
          position: absolute;
          right: 20%;
          top: 13%;
        }
        .pink_a {
          position: absolute;
          right: 30%;
          bottom: 35%;
        }
        .a_letter {
          position: absolute;
          right: 40%;
          bottom: 40%;
        }
        .computer {
          position: absolute;
          right: 20%;
          bottom: 17%;
        }
        .content {
          width: 60%;
        }
        h3 {
          color: #4f1c67;
          font-family: Lexend Tera;
          font-size: 58px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          margin-bottom: 10px;
        }
        h4 {
          color: #8a609e;
          font-family: Open Sans;
          font-size: 26px;
          font-style: normal;
          font-weight: 700;
          line-height: 34px;
          margin: 10px;
        }
        p {
          color: #000;
          font-family: Open Sans;
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: 34px;
          /* 188.889% */
        }
      }
    }
  }
  