.navbar_main_wrapper {
    width:96%;
    padding: 20px 2%;
    display: flex;
    justify-content: space-between;
    position:absolute;
    z-index: 100;

    .logo {
        img {
            width: 350px;
        }
    }

    .right_nav {
        display: flex;
        flex-direction: column;
        align-items: end;
        .top_nav {
            display: flex;
            align-items: center;
            gap: 20px;

            p {
                display: flex;
                align-items: center;
                gap: 10px;
                img {
                    width: 23px;
                }

                span {
                    color: #4f1c67;
                    font-family: Inter;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }
            }

            .adm_open {
                color: #a1238e;
                font-family: Inter;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                border-radius: 7px;
                border: 1px solid #4f1c67;
                padding: 4px 10px;
            }
        }

        .routes {
            ul {
                list-style-type: none;
                display: flex;
                gap: 40px;
                margin-top: 10px;
                li {
                    a {
                        color: #4f1c67;
                        font-family: Inter;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                    }
                }
            }
        }
    }
}
