.footer_main_wrapper {
    background-image: url("../../assets/nav_footer/images/footer_bg.png");
    width: 100%;
    background-repeat: repeat;
    position: relative;

    .logo {
        width: 250px;
        position: absolute;
        top: 30px;
        left: 30px;
    }

    .peacock {
        width: 200px;
        position: absolute;
        right: 20px;
        top: -20px;
    }

    .footer_content {
        padding-top: 150px;
        padding-left: 80px;
        padding-bottom: 30px;
        display: flex;
        gap: 60px;

        .section_1 {
            .phone {
                display: flex;
                align-items: center;
                gap: 20px;
                img {
                    width: 40px;
                    margin-top: 10px;
                }
                div {
                    h4 {
                        color: #a1238e;
                        font-family: Inter;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        margin-bottom: 0px;
                    }
                    p {
                        color: #8a609e;
                        font-family: Inter;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        margin-top: 5px;
                        width: 300px;
                    }
                }
            }
        }

        .section_2 {
            display: flex;
            align-items: flex-start;
            gap: 10px;

            img {
                width: 30px;
            }

            h4 {
                color: #a1238e;
                font-family: Inter;
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                margin-bottom: 0px;
                margin-top: 5px;
                width: fit-content;
                border-bottom: 2px solid #4f1c67;
            }

            ul {
                padding-left: 0px;
                li {
                    margin: 15px;
                    color: #8a609e;
                    font-family: Inter;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    margin-left: 0px;
                    a {
                        font-size: 17px;
                    }
                }
            }

            .social_icons {
                display: flex;
                gap: 20px;
            }
        }
    }
}
