.image_gallery_main_wrapper {
    padding-top: 160px;
    .selected_image_wrapper {
        width: 90%;
        img {
            width: 50%;
            height: 400px;
            object-fit: contain;
            margin-left: 30%;
        }
    }

    .images {
        margin-top: 20px;
        width: 40%;
        margin-left: auto;
        margin-right: auto;
        cursor: pointer;
        margin-bottom: 30px;
        .slide1 {
            display: flex;
            justify-content: center;
        }
        img {
            width: 150px;
            height: 100px;
            border: 3px solid transparent;
        }
        .active_image {
            border: 3px solid #ff7b4d;
        }
    }
}
