.beyond_academics_main_wrapper {
    width: 100%;
    .hero_section {
        width: 100%;
        img {
            width: 100%;
        }
    }

    .main_section {
        background-image: url("../../assets/main_bg.png");
        width: 100%;
        min-height: 50vh;
        margin-top: -4px;

        img {
            width: 45%;
        }

        .content {
            width: 50%;
        }

        h3 {
            color: #4f1c67;
            font-family: Lexend Tera;
            font-size: 36px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            z-index: 100;
        }

        p {
            color: #000;
            font-family: Open Sans;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 30px;
        }

        .sub_section {
            width: 85%;
            margin-left: 7.5%;
            display: flex;
            justify-content: space-between;
            padding-top: 30px;
            align-items: center;
        }

        .cultural_Section {
            padding-bottom: 50px;
            img {
                width: 20%;
            }
        }

        .arts_section {
            img {
                width: 37%;
            }

            .content{
                position: relative;
        
                .lottie{
                    width: 150px;
                    // height: 110px;
                    position: absolute;
                    transform: rotate(-35deg);
                    top:-60px;
                    left:-90px;
                }

                .wheel{
                    position: absolute;
                    width: 300px;
                    position: absolute;
                    // top:-60px;
                    left:-170px;
                }
            }
        }
    }
}

.school_life_main_wrapper {
    .hero_section {
        width: 100%;
        img{
            width: 100%;
        }
    }

    .main_section {
        background-image: url("../../assets/main_bg.png");
        width: 100%;
        min-height: 50vh;
        margin-top: -4px;

        img {
            width: 27%;
        }

        .content {
            width: 60%;
        }

        h3 {
            color: #4f1c67;
            font-family: Lexend Tera;
            font-size: 26px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
        }

        p {
            color: #000;
            font-family: Open Sans;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 30px;
        }

        .sub_section {
            width: 90%;
            margin-left: 5%;
            display: flex;
            justify-content: space-between;
            padding-top: 30px;
            
        }

        .vedic_Section{
            padding-bottom: 40px;
        }
    }
}
