.home_main_wrapper {
 
    .hero_slider_wrapper {
        width: 100%;

      
        .slide1 {
            padding-top: 115px;
        }

        .slide2 {
            background-image: url("../../assets/nav_footer/images/footer_bg.png");
            padding-top: 100px !important;
        }


        img {
            width: 100%;
        }
    }

    .section_2 {
        display: flex;
        background-image: url("../../assets/home/section2_bg.png");
        margin-top: 0px;
        position: relative;

        .left {
            padding: 50px;
            width: 60%;
            p,
            h3 {
                color: #4f1c67;
                font-family: Lexend Tera;
                font-size: 20px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                margin-bottom: 0px;
            }

            h3 {
                font-size: 24px;
                margin-top: 5px;
            }

            .content {
                color: #000;
                font-family: Open Sans;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 30px;
                margin-top: 30px;
            }
            .know_more_btn {
                img {
                    width: 160px;
                    margin-top: 30px;
                }
            }
        }
        .rainbow_img {
            width: 450px;
            position: absolute;
            right: 0px;
        }

        .sghs_text {
            position: absolute;
            width: 70px;
            right: 20px;
            top: 30px;
        }
    }

    .section_3 {
        background-color: #dddddd;
        position: relative;
        padding-bottom: 30px;
        margin-top: 0px !important;
        padding-top: 30px;
        margin-bottom: 0px;

        .notice_board_icon {
            width: 220px;
            position: absolute;
            left: 30px;
        }

        .note_icon {
            width: 160px;
            position: absolute;
            right: 40px;
        }

        .notice_board {
            background-image: url("../../assets//home/notice_board_bg.svg");
            width: 400px;
            background-repeat: no-repeat;
            min-height: 600px;
            display: flex;
            margin-left: auto;
            margin-right: auto;
            padding-top: 50px;
            padding-left: 30px;
            ul {
                list-style-type: circle;
                color: #303972;
                font-weight: 800;

                li {
                    h4 {
                        color: #4f1c67;
                        font-family: Lexend Deca;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: normal;
                    }

                    p {
                        color: #4f1c67;
                        font-family: Open Sans;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: normal;
                    }
                }
            }
        }
    }

    .section_4 {
        background-image: url("../../assets/home/section4_bg.png");
        margin-top: -30px;
        padding-top: 30px;

        .know_more_btn {
            margin-left: 45%;
            margin-right: auto;
            img {
                width: 160px;
                margin-top: 50px;
                margin-bottom: 40px;
            }
        }

        h3 {
            color: #4f1c67;
            text-align: center;
            font-family: Lexend Tera;
            font-size: 24px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            padding-top: 30px;
        }

        .images {
            display: flex;
            width: 95%;
            margin-left: 3%;
            justify-content: space-around;

            div {
                display: flex;
                width: 30%;
                flex-direction: column;

                img {
                    width: 100%;
                }

                span {
                    color: #8a609e;
                    font-family: Inter;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    text-align: center;
                    margin-top: 10px;
                }
            }

           
        }
    }
}
