@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Inter:wght@400;500&family=Lexend+Deca:wght@400;500&family=Lexend+Exa:wght@400;500&family=Lexend+Tera:wght@400;500&family=Open+Sans:wght@400;500&family=Poppins&display=swap");
body {
  margin: 0;
  padding: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}
